!!!5
html
  head
    title= "Home - " + title
    != css("home")

  body

    #page

      #header
        h1= title

      #content
        != body

    script(src="/js/support/jquery-1.7.2.min.js")
    != js("home")
